
@model MVCDemoNew.Models.Country
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModal-label">Bootstrap Dialog</h4>
</div>
<div class="modal-body">
    This is my body. Here everything will come
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="btnOK" onclick="">OK</button>
    <button class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
</div>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (Model.Id == 0)
                    {
                        <input type="button" value="Create" class="btn btn-default" onclick="save()" />
                    }
                    @*else
                        {
                            <input type="button" value="Update" class="btn btn-default" onclick="update()" />
                        }
                </div>
            </div>
        </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

<script type="text/javascript">
    function save()
    {
        var jsonobject=@Html.Raw(Json.Encode(Model));
        jsonobject["Name"]=$("#Name").val();
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Create", "Country")',
            data: JSON.stringify(jsonobject),
            success: function (Response) {
                if(Response.error===false)
                {
                    $("#Name").val("");
                    alert(Response.message);
                }
                else
                {
                    alert(Response.message);
                }
            },
            Error: function (textMsg) {
                alert("Error: " + Error);
            }
        });
    }

</script>